@charset "UTF-8";
header .nomSite {
  min-height: 140px;
  position: relative;
}
header .nomSite img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(20px, 20em, 400px);
}

footer {
  height: 230px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 20px;
}
footer #nomSiteFooter {
  padding-top: 40px;
  padding-bottom: 20px;
}
footer #nomSiteFooter img {
  filter: invert(100%);
  width: 160px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #fff;
}
footer ul li a i {
  display: inline-block;
}
footer ul li a .fa-utensils {
  margin-right: 9px;
}
footer ul li a .fa-handshake-angle {
  margin-right: 3px;
}
footer ul li a span {
  font-size: 18px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}
body main #localisation {
  min-height: 100px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px 10px 0px grey;
}
body main #localisation #localisationIcone {
  position: relative;
}
body main #localisation #localisationIcone i {
  font-size: 25px;
  position: absolute;
  left: -55px;
  top: -15px;
}
body main #localisation p {
  font-size: 25px;
}
body main #reservation {
  min-height: 250px;
  background-color: rgba(227, 227, 227, 0.45);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  text-align: center;
}
body main #reservation h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 60px;
  margin: 50px 10px 0px 10px;
}
body main #reservation h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
body main #reservation a {
  color: white;
  font-size: clamp(15px, 8em, 25px);
  background-image: linear-gradient(to left top, #9356DC 15%, #FF79DA 100%);
  padding: 20px 30px;
  text-align: center;
  border-radius: 999px;
  margin: 40px auto 80px auto;
  cursor: pointer;
  position: relative;
}
body main #reservation a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 999px;
}
body main #fonctionnement h2 {
  margin: 50px 20px;
  font-size: 30px;
}
body main #fonctionnement #fonctionnementFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body main #fonctionnement #fonctionnementFlex a {
  padding: 30px 0px;
  width: clamp(250px, 70%, 400px);
  border: 1px solid #fff;
  box-shadow: 0px 3px 6px 0px rgba(227, 227, 227, 0.45);
  border-radius: 30px;
  margin: 0 auto 25px auto;
  text-align: center;
  position: relative;
  color: #000;
  cursor: pointer;
}
body main #fonctionnement #fonctionnementFlex a .fonctionnementButtonFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
  padding: 0px 15px;
}
body main #fonctionnement #fonctionnementFlex a .fonctionnementButtonFlex i {
  display: inline-block;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
body main #fonctionnement #fonctionnementFlex a .fonctionnementButtonFlex p {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}
body main #fonctionnement #fonctionnementFlex a span {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-60%);
  color: #fff;
}
body main #fonctionnement #fonctionnementFlex a span:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 7px;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
body main #restaurants {
  background-color: rgba(227, 227, 227, 0.45);
  padding-top: 50px;
  padding-bottom: 50px;
}
body main #restaurants h2 {
  margin: 0px 0px 20px 20px;
  font-size: 30px;
}
body main #restaurants #restaurantContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 15px;
}
body main #restaurants #restaurantContainer .restaurant {
  min-height: 200px;
  width: clamp(250px, 90%, 450px);
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
body main #restaurants #restaurantContainer .restaurant a {
  color: #000;
}
body main #restaurants #restaurantContainer .restaurant a #restaurantPhoto1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
body main #restaurants #restaurantContainer .restaurant a #restaurantPhoto3 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
body main #restaurants #restaurantContainer .restaurant a #restaurantPhoto4 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
body main #restaurants #restaurantContainer .restaurant a #restaurantPhoto2 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
body main #restaurants #restaurantContainer .restaurant a .restaurantPhoto {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 160px;
  position: relative;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantPhoto .textClignotant {
  background-color: #99E2D0;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  right: 5%;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantPhoto .textClignotant ul {
  text-align: center;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantPhoto .textClignotant ul li {
  display: inline-block;
  letter-spacing: -2px;
  color: #000;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription {
  position: relative;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 0 5px;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0 20px 5px;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription i {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription .fa-solid.fa-heart {
  background-image: linear-gradient(to left top, #9356DC 15%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription .fa-solid.fa-heart:hover {
  opacity: 1;
  transform: scale(1.1);
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription .fa-solid.fa-heart:hover + .fa-regular.fa-heart {
  opacity: 0;
}
body main #restaurants #restaurantContainer .restaurant a .restaurantDescription .fa-regular.fa-heart {
  opacity: 1;
}
body main #photoALaFrancaise {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
body main #photoLaNoteEnchantée {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
body main #photoLaPaletteDuGout {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
body main #photoleDeliceDuSens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
body main .photoRestaurant {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  position: relative;
  z-index: 1;
}
body main .photoRestaurant a {
  color: #000;
}
body main .photoRestaurant a i {
  position: absolute;
  top: -85px;
  left: 4%;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
body main .contenuRestaurant {
  padding-top: 40px;
  background-color: #e3e3e3;
  border-radius: 50px 50px 0 0;
  margin-top: -150px;
  z-index: 1000;
  position: relative;
  overflow: hidden;
}
body main .contenuRestaurant .titreRestaurant {
  position: relative;
}
body main .contenuRestaurant .titreRestaurant h1 {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 60px;
}
body main .contenuRestaurant .titreRestaurant i {
  position: absolute;
  top: 3px;
  left: calc(135px + 50%);
  font-size: 30px;
  cursor: pointer;
}
body main .contenuRestaurant .titreRestaurant .fa-solid.fa-heart {
  background-image: linear-gradient(to left top, #9356DC 15%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
body main .contenuRestaurant .titreRestaurant .fa-solid.fa-heart:hover {
  opacity: 1;
  transform: scale(1.1);
}
body main .contenuRestaurant .titreRestaurant .fa-solid.fa-heart:hover + .fa-regular.fa-heart {
  opacity: 0;
}
body main .contenuRestaurant .titreRestaurant .fa-regular.fa-heart {
  opacity: 1;
}
body main .contenuRestaurant .platRestaurant {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 100px;
  margin-bottom: 100px;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType h2 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-left: 18%;
  position: relative;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType h2::before {
  content: "";
  position: absolute;
  width: 40px;
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  bottom: 5px;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant {
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 15px;
  min-width: 350px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant .extensionCarteHover {
  position: absolute;
  right: -60%;
  top: 0;
  z-index: 20;
  height: 100%;
  width: 60%;
  background-color: #fff;
  overflow: hidden;
  background-color: #fff;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant .extensionCarteHover span {
  position: absolute;
  bottom: 14px;
  right: 60%;
  font-size: 25px;
  letter-spacing: 2px;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant .extensionCarteHoverCheck {
  position: absolute;
  z-index: 40;
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  top: 0;
  right: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant .extensionCarteHoverCheck i {
  font-size: 30px;
  color: #fff;
  transform: rotate(0);
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant h3 {
  margin: 10px 0;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant p {
  margin-bottom: 11px;
}
body main .contenuRestaurant .platRestaurant .platRestaurantType .platRestaurantTypeDetail .DetailCarteRestaurant span {
  position: absolute;
  right: 15px;
  z-index: 30;
  bottom: 20%;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
