footer{
    height: 230px;
    background-color: rgba(0,0,0,0.8);
    padding: 0 20px;

    #nomSiteFooter{
        padding-top: 40px;
        padding-bottom: 20px;
        img{
            filter: invert(100%);
            width: 160px;
        }
    }
    ul{
        li{
            margin-bottom: 10px;
            a{
                color: $blanc;
                i{
                    display: inline-block;
                }
                .fa-utensils{
                    margin-right: 9px;
                }
                .fa-handshake-angle{
                    margin-right: 3px;
                }
                span{
                    font-size: 18px;
                }
            }
        }
    }
}