@import '_variables.scss';
@import '_header.scss';
@import '_footer.scss';


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    /*'Shrikhand',*/

    main{

        #localisation{
            min-height: 100px;
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px -1px 10px 0px grey;

            #localisationIcone{
                position: relative;

                i{
                    font-size: 25px;
                    position: absolute;
                    left: -55px;
                    top: -15px;
                }
            }

            p{
                font-size: 25px;
            }
        }
        
        #reservation{
            min-height: 250px;
            background-color: $grey_soft;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;
            text-align: center;
            h2{
                font-size: 30px;
                font-weight: 800;
                margin-top: 60px;
                margin: 50px 10px 0px 10px;
            }
            h3{
                font-weight: 400;
                color: rgba(0,0,0,0.6);
                font-size: 20px;
            }
            button{
                background-image: linear-gradient(to left top, $primaire  15%, $secondaire  100%);
                padding: 15px 45px;
                text-align: center;
                border-radius: 999px;
                margin: 40px auto 80px auto;
                cursor: pointer;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 999px;
                    
                }
                
                a{
                    color: white;
                    font-size: 18px;
                }
            }
        }
    }
}

@import '_mediaQueries.scss';