@import '_variables.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_mixins.scss';
@import '_loader.scss';


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    

    main{
        #localisation{
            min-height: 100px;
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px -1px 10px 0px grey;

            i{
                font-size: 25px;
                margin-right: 20px;
            }

            p{
                font-size: 25px;
            }
        }

        #reservation{
            min-height: 250px;
            background-color: $grey_soft;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;
            text-align: center;
            h2{
                font-size: 30px;
                font-weight: 800;
                margin-top: 60px;
                margin: 50px 10px 0px 10px;
            }
            h3{
                font-weight: 400;
                color: rgba(0,0,0,0.6);
                font-size: 20px;
            }


            a{
                color: white;
                font-size: clamp(15px, 8em, 25px);
                @include gradiant;
                padding: 20px 30px;
                text-align: center;
                border-radius: 999px;
                margin: 40px auto 80px auto;
                cursor: pointer;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 999px;
                    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 36px 13px rgba(0,0,0,0.62); 
                    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 36px 13px rgba(0,0,0,0.62);
                    opacity: 0;
                    transition: opacity 0.2s linear;
                }
                &:hover::before{
                    opacity: 1;
                    
                }
            }
        }

        #fonctionnement{
            h2{
                margin: 50px 20px;
                font-size: 30px;
            }
            #fonctionnementFlex{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                
                a{
                    padding: 30px 0px;
                    width: clamp(250px,70%, 400px);
                    border: 1px solid #fff;
                    box-shadow: 0px 3px 6px 0px $grey_soft;
                    border-radius: 30px;
                    margin: 0 auto 25px auto;
                    text-align: center;
                    position: relative;
                    color: $noir;
                    cursor: pointer;

                    background-image: linear-gradient(to right, transparent 50%, rgba(147,86,220,0.2) 50%);
                    background-size: 200%;
                    transition: 0.4s ease-out;

                    .fonctionnementButtonFlex{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        row-gap: 20px;
                        justify-content: space-around;
                        padding: 0px 15px;
                        i{
                            display: inline-block;
                            font-size: 22px;
                            color: rgba(0,0,0,0.5);
                        }
                        p{
                            display: inline-block;
                            font-size: 20px;
                            font-weight: 700;
                            
                        }
                    }
                    span{
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-60%);
                        color: $blanc;
    
                        &:after{
                            content: "";
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            background-color: $primaire;
                            border-radius: 50%;
                            padding: 7px;
                            left: -8px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                        }

                    }
                    &:hover{
                        background-position: 100%;
                        i{
                            color: $primaire;
                        }
                    }
                }
            }
        }

        #restaurants{
            background-color: $grey_soft;
            padding-top: 50px;
            padding-bottom: 50px;

            h1{
                margin: 0px 0px 20px 20px;
                font-size: 30px;
            }

            #restaurantContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 15px;

                .restaurant{
                    min-height: 200px;
                    width: clamp(250px, 95%, 400px);
                    border-radius: 15px;
                    background-color: #fff;
                    cursor: pointer;
                    overflow: hidden;

                    a{
                        color: $noir;
                        

                        #restaurantPhoto1{
                            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                        }
                        #restaurantPhoto3{
                            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                        }
                        #restaurantPhoto4{
                            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                        }
                        #restaurantPhoto2{
                            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                        }
                        .restaurantPhoto{
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            min-height: 160px;
                            position: relative;

                            .textClignotant{
                                background-color: $tertiaire;
                                display: inline-block;
                                padding: 5px 10px;
                                border-radius: 5px;
                                position: absolute;
                                top: 5%;
                                right: 5%;

                                ul{ 
                                    text-align: center;
                                    li{
                                        display: inline-block;
                                        letter-spacing: -2px;
                                        animation: flash 3s linear infinite;
                                        color: $noir;

                                        &:nth-child(1){
                                            animation-delay: 0.2s;
                                        }
                                        &:nth-child(2){
                                            animation-delay: 0.4s;
                                        }
                                        &:nth-child(3){
                                            animation-delay: 0.6s;
                                        }
                                        &:nth-child(4){
                                            animation-delay: 0.8s;
                                        }
                                        &:nth-child(5){
                                            animation-delay: 1s;
                                        }
                                        &:nth-child(6){
                                            animation-delay: 1.2s;
                                        }
                                        &:nth-child(7){
                                            animation-delay: 1.4s;
                                        }

                                    }
                                }
                            }
                        }
                        .restaurantDescription{
                            position: relative;
    
                            h4{
                                font-size: 16px;
                                font-weight: 700;
                                margin: 15px 0 0 5px;
                            }
                            h5{
                                font-size: 15px;
                                font-weight: 400;
                                margin: 5px 0 20px 5px;
                            }

                            i{
                                position: absolute;
                                top: 5px;
                                right: 10px;
                                font-size: 20px;
                            }
    
                            @include icone;

                        }
                    }
    
                }
            }
        }

        #photoALaFrancaise{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        #photoLaNoteEnchantée{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        }
        #photoLaPaletteDuGout{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        }
        #photoleDeliceDuSens{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        }
        .photoRestaurant{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 550px;
            position: relative;
            z-index: 1;
            a{
                color: $noir;
                i{
                    position: absolute;
                    top: -85px;
                    left: 4%;
                    font-size: 30px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .contenuRestaurant{
            padding-top: 40px;
            background-color: $grey;
            border-radius: 50px 50px 0 0;
            margin-top: -150px;
            z-index: 1000;
            position: relative;
            overflow: hidden;

            .titreRestaurant{
                position: relative;

                h1{
                    text-align: center;
                    font-family: 'Shrikhand', sans-serif;
                    margin-bottom: 60px;
                }

                i{
                    position: absolute;
                    top: 3px;
                    left: calc(135px + 50%);
                    font-size: 30px;
                    cursor: pointer;
                }

                @include icone;
            }
            .platRestaurant{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                row-gap: 100px;
                margin-bottom: 100px;

                .platRestaurantType{

                    h2{
                        font-size: 17px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        margin-left: 18%;
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 40px;
                            background-color: $tertiaire;
                            border: 2px solid $tertiaire;
                            bottom: 5px;
                        }
                    }
                    .platRestaurantTypeDetail{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        row-gap: 25px;
                        
                        .DetailCarteRestaurant{
                            padding: 5px 15px;
                            background-color: $blanc;
                            border-radius: 15px;
                            width: 400px ;
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            opacity: 0;

                            animation-name: apparition;
                            animation-duration: 1s;
                            animation-timing-function: linear;
                            animation-fill-mode: forwards;
                            
                            &:nth-child(1){
                                animation-delay: 0.7s;
                            }  
                            &:nth-child(2){
                                animation-delay: 1.4s;
                            }  
                            &:nth-child(3){
                                animation-delay: 2.1s;
                            }  
                            &:nth-child(4){
                                animation-delay: 2.8s;
                            }  

                            &:hover .extensionCarteHover{
                                transform: translateX(-90%);

                                span{
                                    opacity: 1;
                                }
                            }

                            .extensionCarteHover{ 
                                position: absolute;
                                right: -60%;
                                bottom: 0;
                                z-index: 20;
                                height: 50%;
                                width: 60%;
                                transform: translateX(0%);
                                transition: transform 0.5s linear;
                                background-color: $blanc;
                                overflow: hidden;
                                background-color: $blanc;

                                span{
                                    position: absolute;
                                    bottom: 14px;
                                    right: 60%;
                                    font-size: 25px;
                                    letter-spacing: 2px;
                                    opacity: 0;
                                    transition: opacity 0.2s linear 0.4s;
                                }

                            }

                            &:hover .extensionCarteHoverCheck{
                                transform: translateX(-60px);

                                i{
                                    transform: rotate(360deg);
                                    
                                }
                            }

                            .extensionCarteHoverCheck {
                                position: absolute;
                                z-index: 40;
                                width: 60px;
                                height: 100%;
                                background-color: $tertiaire;
                                top: 0;
                                right: -60px;
                                transform: translateX(0);
                                transition: transform 0.5s linear;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i{
                                    font-size: 30px;
                                    color: $blanc;
                                    transform: rotate(0) ;
                                    transition: transform 0.65s linear;
                                }
                            }

                            h3{
                                margin: 10px 0;
                            }
                            p{
                                margin-bottom: 11px;
                                width: 90%;
                            }
                            span{
                                position: absolute;
                                right: 15px;
                                transform: translateX(0);
                                transition: transform 0.5s linear;
                                z-index: 30;
                                bottom: 20%;
                                font-weight: 600;
                            }

                            &:hover span {
                                transform: translateX(-200%);
                            }

                        }
                    }
                }
            }
        }
    }
}

@keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    80%{
        opacity: 1;
    }
    100%{
        
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes flash{
    0%{
        transform: scale(1);
    }
    90%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}

@import '_mediaQueries.scss';