@import '_variables.scss';
@import '_header.scss';
@import '_footer.scss';


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;

    main{

        #localisation{
            min-height: 100px;
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px -1px 10px 0px grey;

            #localisationIcone{
                position: relative;

                i{
                    font-size: 25px;
                    position: absolute;
                    left: -55px;
                    top: -15px;
                }
            }

            p{
                font-size: 25px;
            }
        }
        
        #reservation{
            min-height: 250px;
            background-color: $grey_soft;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;
            text-align: center;
            h2{
                font-size: 30px;
                font-weight: 800;
                margin-top: 60px;
                margin: 50px 10px 0px 10px;
            }
            h3{
                font-weight: 400;
                color: rgba(0,0,0,0.6);
                font-size: 20px;
            }
            button{
                background-image: linear-gradient(to left top, $primaire  15%, $secondaire  100%);
                padding: 15px 45px;
                text-align: center;
                border-radius: 999px;
                margin: 40px auto 80px auto;
                cursor: pointer;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 999px;
                    
                }
                
                a{
                    color: white;
                    font-size: 18px;
                }
            }
        }

        #fonctionnement{
            h2{
                margin: 50px 20px;
                font-size: 30px;
            }
            #fonctionnementFlex{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                
                button{
                    padding: 30px 90px;
                    display: block;
                    border: 1px solid #fff;
                    box-shadow: 0px 3px 6px 0px $grey_soft;
                    border-radius: 30px;
                    margin: 0 auto 25px auto;
                    text-align: center;
                    position: relative;
                    cursor: pointer;

                    i{
                        display: inline-block;
                        font-size: 25px;
                        position: absolute;
                        left: 45px;
                        top: 50%;
                        transform: translateY(-60%);
                        color: rgba(0,0,0,0.5);
                    }
                    p{
                        font-size: 17px;
                        font-weight: 700;
                    }
                    span{
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-60%);
                        color: $blanc;
    
                        &:after{
                            content: "";
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            background-color: $primaire;
                            border-radius: 50%;
                            padding: 7px;
                            left: -8px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                        }

                    }
                }
            }
        }

        #restaurants{
            background-color: $grey_soft;
            padding-top: 50px;
            padding-bottom: 50px;

            h2{
                margin: 0px 0px 20px 20px;
                font-size: 30px;
            }

            #restaurantContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 15px;
            margin: 0 5%;

                .restaurant{
                    min-height: 200px;
                    width: clamp(250px, 70%, 350px);
                    border-radius: 15px;
                    background-color: #fff;
                    cursor: pointer;
                    overflow: hidden;

                    a{
                        color: $noir;
                        

                        #restaurantPhoto1{
                            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                        }
                        #restaurantPhoto3{
                            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                        }
                        #restaurantPhoto4{
                            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                        }
                        #restaurantPhoto2{
                            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                        }
                        .restaurantPhoto{
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            min-height: 160px;
                            position: relative;
                            span{
                                background-color: $tertiaire;
                                display: inline-block;
                                padding: 5px 10px;
                                border-radius: 5px;
                                position: absolute;
                                top: 5%;
                                right: 5%;

                                ul{ 
                                    text-align: center;
                                    li{
                                        display: inline-block;
                                        letter-spacing: -2px;
                                        color: $noir;

                                    }
                                }
                            }
                        }
                        .restaurantDescription{
                            position: relative;
    
                            h4{
                                font-size: 16px;
                                font-weight: 700;
                                margin: 15px 0 0 5px;
                            }
                            h5{
                                font-size: 15px;
                                font-weight: 400;
                                margin: 5px 0 20px 5px;
                            }
                            i{
                                position: absolute;
                                top: 5px;
                                right: 10px;
                                font-size: 20px;
                                cursor: pointer;
                            
                            }
    
                            .fa-solid.fa-heart{
                                display: none;
                            }
                            .fa-regular.fa-heart{
                                display: block;
    
                                &:hover{
                                    display: none;
                                    
                                }
                                &:hover + .fa-solid.fa-heart{
                                    display: block;
                                    color: $primaire;
                                }
                            }
                        }
                    }
    
                }
            }
        }

        #photoALaFrancaise{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        #photoLaNoteEnchantée{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        }
        #photoLaPaletteDuGout{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        }
        #photoleDeliceDuSens{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        }
        .photoRestaurant{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 550px;
            position: relative;
            z-index: 1;
            a{
                color: $noir;
                i{
                    position: absolute;
                    top: -85px;
                    left: 4%;
                    font-size: 30px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .contenuRestaurant{
            padding-top: 40px;
            background-color: $grey;
            border-radius: 50px 50px 0 0;
            margin-top: -150px;
            z-index: 1000;
            position: relative;
            overflow: hidden;

            .titreRestaurant{
                position: relative;

                h1{
                    text-align: center;
                    font-family: 'Shrikhand', sans-serif;
                    margin-bottom: 60px;
                }

                i{
                    position: absolute;
                    top: 3px;
                    left: calc(135px + 50%);
                    font-size: 30px;
                    cursor: pointer;
                }

                .fa-solid.fa-heart{
                    display: none;
                }
                .fa-regular.fa-heart{
                    display: block;

                    &:hover{
                        display: none;
                        
                    }
                    &:hover + .fa-solid.fa-heart{
                        display: block;
                        color: $primaire;
                    }
                }
            }
            .platRestaurant{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                row-gap: 100px;
                margin-bottom: 100px;

                .platRestaurantType{

                    h2{
                        font-size: 17px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        margin-left: 18%;
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 40px;
                            background-color: $tertiaire;
                            border: 2px solid $tertiaire;
                            bottom: 5px;
                        }
                    }
                    .platRestaurantTypeDetail{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        row-gap: 25px;
                        
                        .DetailCarteRestaurant{
                            padding: 5px 15px;
                            background-color: $blanc;
                            border-radius: 15px;
                            min-width: 350px ;
                            position: relative;
                            cursor: pointer;
                            overflow: hidden; 


                            .extensionCarteHover{ 
                                position: absolute;
                                right: -60%;
                                top: 0;
                                z-index: 20;
                                height: 100%;
                                width: 60%;
                                transform: translateX(0%);
                                transition: transform 0.5s linear;
                                background-color: $blanc;
                                overflow: hidden;
                                background-color: $blanc;

                                span{
                                    position: absolute;
                                    bottom: 14px;
                                    right: 60%;
                                    font-size: 25px;
                                    letter-spacing: 2px;


                                }

                            }

                            .extensionCarteHoverCheck {
                                position: absolute;
                                z-index: 40;
                                width: 60px;
                                height: 100%;
                                background-color: $tertiaire;
                                top: 0;
                                right: -60px;
                                transform: translateX(0);
                                transition: transform 0.5s linear;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i{
                                    font-size: 30px;
                                    color: $blanc;
                                }
                            }

                            h3{
                                margin: 10px 0;
                            }
                            p{
                                margin-bottom: 11px;
                            }
                            span{
                                position: absolute;
                                right: 15px;
                                z-index: 30;
                                bottom: 20%;
                                font-weight: 600;
                            }


                        }
                    }
                }
            }
        }
    }
}


@import '_mediaQueries.scss';